@import './assets/css/_variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .title {
    @apply text-3xl text-black font-semibold;
  }

  .body {
    @apply text-black text-lg;
  }

  .body-light {
    @apply text-gray-400 text-lg;
  }

  .subTitle {
    @apply text-black text-base;
  }

  .subTitle-light {
    @apply text-gray-400 text-base;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: var(--app-layout-max-width);
  width: min(var(--app-layout-max-width), 100%);
  margin: 50px auto;
}
